@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d4692219-5b2b-400a-9c93-8ada1f19a5af/dbpvvfq-80386961-5d09-4004-9f99-dc05a4e2da67.png/v1/fill/w_1154,h_692,q_70,strp/mr_meeseeks_wallpaper__dark__by_notkiler_dbpvvfq-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMDAwIiwicGF0aCI6IlwvZlwvZDQ2OTIyMTktNWIyYi00MDBhLTljOTMtOGFkYTFmMTlhNWFmXC9kYnB2dmZxLTgwMzg2OTYxLTVkMDktNDAwNC05Zjk5LWRjMDVhNGUyZGE2Ny5wbmciLCJ3aWR0aCI6Ijw9NTAwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.06IPSB40cuc23dDunxenXTXJXp4O6SpPRn-Eej8vJAs");
    background-size: 100%;
    
}

button {
    background-color: #51adcf;
    color: white;
    font-family: inherit;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

 button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:orangered;
}


button:active {
    background-color:orangered;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#container {
    position: fixed;
    bottom: 10px;
    left: 250px;
}

.toast {
    background-color:#51adcf;
    border-radius: 5px;
    color: #fff;
    padding: 2rem;
    margin: 1rem;
}

.toast1{
    position:inherit;
    bottom: 10px;
    left: 20px;
}

.rodape {
    grid-area: f / f / f / f;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    
}

@media (max-width: 600px) {
    .toast {
     font-size: 1.5rem;
     padding: 1rem 2rem;
    }

    .toast1{
        size: 50%;
    }

    #container {
        size: 50%;
        font-size: 1rem;
    }

    *{
        background-size: 100%;
    }
}